<!-- Pagina de la empresa, tiene los datos de la empresa -->

<html>
<%- include('partials/dashmenu.ejs'); %>

  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('partials/dashhead.ejs'); %>

        <div class="box">
          <div class="box-header with-border">
            <h3>Tu Empresa</h3>
            <h4 class="text-muted">Aquí puedes ver y modificar los datos de tu empresa</h4>
            <a type="button" href="#"><i class="fa fa-pencil-square-o btn btn-primary btn-lg"> Modificar datos de la empresa</i></a>
          </div>
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <!-- Datos del administrador -->
                <div class="panel-body">
                <% empresa.forEach((element) => { %>
                  <h3>Nombre de la empresa: </h3>
                  <p>NIT: <%= element.NIT_empresa %></p>
                  <p>Dirección de la empresa: <%= element.direccion_empresa %></p>
                  <% }); %>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- jQuery 3 -->
        <script src="v1/../bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="v1/../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="v1/../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="v1/../bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="v1/../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="v1/../dist/js/demo.js"></script>
    </div>
    <%- include('partials/dashfooter.ejs'); %>
      </script>
  </body>

</html>