<!--Pagina para visualizar las facturas-->

<html>
<%- include('partials/dashmenuUV.ejs'); %>

  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('partials/dashhead.ejs'); %>


        <div class="box">
          <div class="box-header with-border">
            <h3>Historial de facturas</h3>
            <h4 class="text-muted">Este es el historial de facturas de tus ventas, puedes exportarlas si hace falta</h4>
            <h4 class="text-muted"></h4>
          </div>
          <div>
            <!--/Tabla del historial de facturas-->
            <table id="" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>FECHA</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <% factura.forEach((element)=>{ %>
                <tr>
                  <td> <%= element.id%></td>
                  <td> <%= element.fecha%></td>
                  <td>
                    <a type="button" href="#"><i class="fa fa-file-text-o btn btn-primary "> Exportar factura a
                        PDF</i></a>
                        <% }); %>
                </tfoot>
            </table>
            <!--/Tabla del historial de facturas-->
          </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('partials/dashfooter.ejs'); %>
      <!-- jQuery 3 -->
      <script src="v1/../bower_components/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap 3.3.7 -->
      <script src="v1/../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- SlimScroll -->
      <script src="v1/../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="v1/../bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="v1/../dist/js/adminlte.min.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="v1/../dist/js/demo.js"></script>
      </div>
      </script>
  </body>

</html>